header{
    background: yellow
}

nav li{
    display: inline;
    margin: 10px 50px 0 20px
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none
}

.caixa{
    position: relative;
    background: red;
    width: 50%;
    margin: 0 auto;

}

nav{
    position: static;
    margin: 0 auto;
}